#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul {
  list-style-position: inside; /* Moves bullet closer to the text */
  padding-left: 0;             /* Remove default left padding */
  margin-left: 0;     
  text-align: center;         /* Remove margin gap */
} 